/************Tags****************/
html {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'nunitoregular', sans-serif;
    background-color: #333639;
    opacity: 0;
    transition: opacity 1s;
}

body:after {
    content: "";
    background-image: url("../images/prism.svg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    animation: bgFade 0.3s 0.3s forwards;
}

@keyframes bgFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    align-content: center;
    left: 50%;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
}

th {
    font-weight: bold;
}

td,
th {
    padding: 13px;
}

a {
    text-decoration: none;
    color: #000000;
    text-decoration-color: #000000;
}

/***********Compatibility Warning*************/

#resol-content {
    text-align: center;
    background-color: #55c36b;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0%;
    bottom: 0px;
    left: 0%;
    right: 0%;
    display: none;
}

#mobile-content {
    text-align: center;
    background-color: #55c36b;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0%;
    bottom: 0px;
    left: 0%;
    right: 0%;
    display: none;
}

@media screen and (max-width: 600px) {
    #desktop-content {
        display: none;
        visibility: hidden;
    }

    #resol-content {
        display: block;
    }
}

#shopCountry {
    position: absolute;
    left: 10px;
    bottom: 20px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: none;
    border-width: 2px;
}

/********Time************/

.times {
    white-space: nowrap;
}

.g_and_t {
    top: 15%;
    left: 50%;
    position: sticky;
    font-family: 'luckiest_guyregular', cursive;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10%;
}

.hourFormat,
.secFormat {
    cursor: pointer;
}

.SetEngine {
    opacity: 0.8;
    cursor: pointer;
}

#syes:hover,
#sno:hover,
#h12:hover,
#h24:hover,
#sGoogle:hover,
#sDuck:hover,
#sYahoo:hover,
#sBing:hover {
    text-shadow: 2px 2px 2px #2f6627;
}

/*********Search Bar***********/

.searchDiv {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.searchInput {
    border-radius: 50px;
    width: 35rem;
    height: 40px;
    padding-top: 7px;
    background-color: aliceblue;
    font-size: 25px;
    outline: none;
    margin-bottom: 50px;
    border-color: #1a1a1a;
}

.searchInput[type="text"] {
    padding-left: 20px;
    padding-bottom: 5px;
}

.searchInput::placeholder {
    font-size: 1.6rem;
    text-align: left;
    padding-left: 4px;
}

/************Name*********/

.userConfig {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

/************Id's***********/

#user {
    position: absolute;
    right: 3px;
    bottom: 8px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#user:hover {
    transform: rotate(100deg);
}

#name_dialog {
    background-color: rgba(131, 231, 168, 0.3);
    height: 285px;
    width: 185px;
    padding: 13px;
    border-radius: 5px;
    border-width: 1px;
    display: none;
}

#name_image {
    position: absolute;
    top: 10px;
    right: 10px;
}

#user_name {
    width: 165px;
}

#user_name[type="text"] {
    padding-left: 8px;
}

#dom_code {
    width: 165px;
}

#dom_code[type="text"] {
    padding-left: 8px;
}

#warning {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    visibility: hidden;
}

#clock {
    font-size: 5vw;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    margin-top: 25px;
    margin-bottom: 0px;
    letter-spacing: 3px;
    display: inline-block;
}

#shortcutHelp {
    display: none;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    height:355px;
    width:950px;
    padding: 15px;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
}

.default{
    display: none;
}
.macos{
    display: none;
}

/************Button Design**********/
#google,
#duck,
#yahoo,
#bing,
#youtube,
#ebay,
#amazon,
#github,
#stackov,
#brainly,
#wiki {
    background-color: #43fff6;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}


#google {
    border-radius: 25px;
    line-height: 0px;
    width: 120px;
    height: 25px;
    padding: 13.5px;
    white-space: nowrap;
}

#duck {
    border-radius: 25px;
    padding: 12.5px;
    white-space: nowrap;
    width: 120px;
    height: 27px;
}

#yahoo {
    border-radius: 25px;
    line-height: 0px;
    padding: 10px;
    white-space: nowrap;
    width: 120px;
    height: 32px;
}

#bing {
    border-radius: 25px;
    padding: 12.5px;
    height: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 120px;
    height: 20px;
}

#youtube {
    border-radius: 25px;
    line-height: 0px;
    padding: 15px;
    white-space: nowrap;
    width: 120px;
    height: 21px;
}

#ebay {
    border-radius: 25px;
    line-height: 0px;
    padding: 5px;
    width: 135px;
    height: 40px;
}

#amazon {
    border-radius: 25px;
    line-height: 0px;
    width: 113px;
    height: 20px;
    padding: 15px;
    white-space: nowrap;
}

#github {
    border-radius: 25px;
    line-height: 0px;
    width: 129.3px;
    height: 35px;
    padding: 5px;
}

#stackov {
    border-radius: 25px;
    line-height: 0px;
    width: 134px;
    height: 40px;
    padding: 5px;
    white-space: nowrap;
}

#brainly {
    border-radius: 25px;
    line-height: 0px;
    padding: 15px;
    white-space: nowrap;
    width: 120px;
    height: 25px;
}

#wiki {
    border-radius: 25px;
    padding: 12.5px;
    white-space: nowrap;
    width: 113px;
    height: 25px;
}